<template>
  <div class="rxPlayer">
    <video width="100%" @click="playRx" :id="param.idVideo"></video>
    <div class="sceneDetail" v-if="isPlaying == false">
      <h2 v-if="isLoadingCurrentSceneDetail">
        Casting de la scene en cours ...
        <b-spinner label="Spinning"></b-spinner>
      </h2>
      <div v-else>
        <h2 class="mb-3">
          scene ({{ currentSceneDetail.id }}) : {{ currentSceneDetail.title }}
        </h2>

        <div class="sceneDetail__castingList">
          <div
            class="sceneDetail__castingItem"
            v-for="castingItem in currentSceneDetail.casting"
            :key="castingItem.id"
          >
            <img :src="`${param.apiInfoUrl}${castingItem.image}`" />
            <span>{{ castingItem.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="advanceSetting" v-if="showAdvanceSetting">
      <div class="advanceSetting__header">
        <a @click="showAdvanceSetting = false">
          <b-icon icon="x-circle"></b-icon>
        </a>
      </div>
      <div class="advanceSetting__options">
        <div class="advanceSetting__row">
          <span> Speed </span>
          <select name="" id="" @change="selectSpeed" v-model="speed">
            <option :value="0.125">0.125</option>
            <option :value="0.25">0.25</option>
            <option :value="0.5">0.5</option>
            <option :value="0.75">0.75</option>
            <option :value="1" selected>1</option>
            <option :value="1.25">1.25</option>
            <option :value="1.5">1.5</option>
            <option :value="1.75">1.75</option>
            <option :value="2">2</option>
            <option :value="2.5">2.5</option>
            <option :value="3">3</option>
          </select>
        </div>
        <div class="advanceSetting__row d-flex">
          <span> show scenes info bar : </span>
          <b-form-checkbox
            id="checkbox-1"
            v-model="isShowScenesInfoBar"
            name="checkbox-1"
            :value="true"
            :unchecked-value="false"
            class="pl-3"
          />
        </div>
      </div>
    </div>
    <div class="rxPlayer__loading" v-if="isLoading">
      <b-spinner label="Spinning"></b-spinner>
    </div>
    <!-- #listScenesInfo  -->
    <div class="scenesInfoBar" v-if="isShowScenesInfoBar">
      <div
        class="scenesInfoBar__item"
        v-for="scene in listScenesInfo"
        @click="gotoScene(parseInt(scene.beginTimecode))"
        :key="scene.id"
        :style="{
          width: getWidthSceneInBar(
            scene.beginTimecode * 1,
            scene.endTimecode * 1
          ),
        }"
      >
        <div class="scenesInfoBar__detail">
          {{ scene.id }}. {{ scene.title }}
          <span>
            du {{ formatTime(scene.beginTimecode) }} au
            {{ formatTime(scene.endTimecode) }}
          </span>
        </div>
      </div>
    </div>
    <div class="progressBar" @click="moveToPosition">
      <!-- mouseup -->
      <div
        class="progressBar__timePosition"
        :style="widthBarTimePosition"
      ></div>
      <div class="progressBar__timeloaded" :style="widthBarTimeLoaded"></div>
    </div>
    <nav class="controls">
      <div class="controls__left">
        <a class="" @click="playRx">
          <template v-if="isPlaying">
            <!--https://icons.getbootstrap.com/  -->
            <b-icon icon="caret-right-fill"></b-icon>
          </template>
          <template v-if="!isPlaying">
            <b-icon icon="pause-fill"></b-icon>
          </template>
        </a>
        <!-- <a class="" @click="stopRx">
          <b-icon icon="stop-fill"></b-icon>
        </a> -->
        <span class="controls__timeInfo">
          {{ formatTime(timePostion) }} / {{ formatTime(totalDuration) }}
          <!-- <b-spinner
            type="grow"
            label="Spinning"
            v-if="isLoadinfoScene"
          ></b-spinner>
          <span v-else> {{ sceneCurrent.title }}</span> -->
        </span>
      </div>
      <div class="controls__right">
        <a @click="showAdvanceSetting = !showAdvanceSetting">
          <b-icon icon="gear-fill"></b-icon>
        </a>
        <div class="audio">
          <div class="audio__icon" @click="isMute = !isMute">
            <b-icon
              v-if="volume >= 50 && !isMute"
              icon="volume-up-fill"
            ></b-icon>
            <b-icon
              v-if="volume <= 50 && volume > 0 && !isMute"
              icon="volume-down-fill"
            ></b-icon>
            <b-icon
              v-if="isMute || volume === 0"
              icon="volume-mute-fill"
            ></b-icon>
            <!-- || volume == 0 -->
          </div>
          <div class="audio__bar" @click="moveToVolume">
            <div class="audio__volume" :style="widthBarVolumeAudio"></div>
            <!-- <b-icon icon="circle-fill"></b-icon> -->
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import RxPlayer from "rx-player";
import axios from "axios";

export default {
  data() {
    return {
      player: null,
      isPlaying: null,
      isLoading: false,
      isEnded: true,
      playerStatus: "",
      timePostion: 0,
      timeLoaded: 0,
      totalDuration: 0,
      showAdvanceSetting: false,
      volume: 100,
      isMute: false,
      speed: 1,
      sceneCurrent: { title: "vide" },
      isLoadinfoScene: false,
      listScenesInfo: null,
      isShowScenesInfoBar: true, // timeCodeBar
      currentSceneDetail: null,
      isLoadingCurrentSceneDetail: true,
    };
  },
  props: {
    param: Object,
  },
  mounted() {
    console.log("test ............");
    this.player = new RxPlayer({
      // videoElement: document.getElementsByTagName("VIDEO")[0],
      videoElement: document.getElementById(this.param.idVideo),
    });

    this.player.loadVideo({
      url: this.param.sourceUrl,
      transport: "directfile", // directfile | dash
      autoPlay: false,
    });

    // load loadListScenesInfo
    this.loadListScenesInfo();
    this.timeLoaded = this.player.getVideoLoadedTime();
    if (
      this.$route.params.position
      // && this.$route.params.position <= this.totalDuration
    ) {
      this.player.play();
      setTimeout(
        this.player.seekTo(parseInt(this.$route.params.position)),
        1000
      );
    }
    // positionUpdate
    this.player.addEventListener("positionUpdate", async () => {
      this.timeLoaded = this.player.getVideoLoadedTime();

      if (this.isPlaying) {
        this.timePostion = this.player.getPosition();
        this.isLoadinfoScene = true;
        if (this.param.apiInfoUrl !== null) {
          let res = await axios.get(
            `${this.param.apiInfoUrl}scene/${this.timePostion}`
          );

          if (this.sceneCurrent.id !== res.data.id) {
            this.sceneCurrent = { ...res.data };
          }
        }

        this.isLoadinfoScene = false;
      }
    });
    this.player.addEventListener("playerStateChange", (status) => {
      switch (status) {
        case "PLAYING":
          this.isPlaying = true;
          this.isLoading = false;
          break;
        case "SEEKING":
          this.isPlaying = false;
          this.isLoading = true;
          break;
        case "ENDED":
          this.isPlaying = false;
          this.isLoading = false;
          //  this.player.reload();
          this.player.loadVideo({
            url: this.param.sourceUrl,
            transport: "directfile", // directfile | dash
            autoPlay: false,
          });
          break;
      }
    });
  },

  watch: {
    isMute(newValue) {
      if (newValue) {
        this.player.setVolume(0);
      } else {
        this.player.setVolume(this.volume / 100);
      }
    },
    /* $route(to, from) {
      console.log("watch / route >> to", to);
      console.log("watch / route >> from", from);
      console.log("--------------------------");
    }, */
  },
  computed: {
    infoTime() {
      let res = this.player.getPosition();
      return res;
    },
    widthBarTimePosition() {
      return {
        width: (this.timePostion / this.totalDuration) * 100 + "%",
      };
    },
    widthBarTimeLoaded() {
      return {
        width: (this.timeLoaded / this.totalDuration) * 100 + "%",
      };
    },
    widthBarVolumeAudio() {
      if (this.isMute) {
        return {
          width: "0%",
        };
      }
      return {
        width: this.volume + "%",
      };
    },
  },
  methods: {
    // paly ou pause player
    async playRx() {
      if (this.isPlaying) {
        this.player.pause();
        this.isPlaying = false;
        this.isLoadingCurrentSceneDetail = true;
        await this.getSceneDetail();
        this.isLoadingCurrentSceneDetail = false;
      } else {
        this.player.play();
        this.totalDuration = this.player.getVideoDuration();
        this.isPlaying = true;
      }
    },
    async getSceneDetail(timePosition = this.timePostion) {
      // timePosition
      let res = await axios.get(
        `${this.param?.apiInfoUrl}scene/${timePosition}`
      );
      console.log(" res.data >> ", res.data);
      this.currentSceneDetail = res.data;
    },
    stopRx() {
      this.player.reload();
      this.player.stop();
    },
    pauseRx() {
      this.player.pause();
    },

    selectSpeed(e) {
      this.speed = e.target.value;
      this.player.setPlaybackRate(this.speed);
    },
    async moveToPosition(event) {
      event.stopPropagation();
      let bar = document.querySelector(".progressBar");
      let positionInBarPx = event.clientX - this.getOffset(bar).left;
      let positionInBarPer100 = (positionInBarPx * 100) / bar.offsetWidth;
      let positionInBarByTime =
        (positionInBarPer100 * this.totalDuration) / 100;
      this.isLoading = true;
      setTimeout(this.player.seekTo(positionInBarByTime), 1000);

      this.isLoading = false;
    },
    async moveToVolume(event) {
      event.stopPropagation();
      let bar = document.querySelector(".audio__bar");
      let positionInBarPx = event.clientX - this.getOffset(bar).left;
      let positionInBarPer100 = (positionInBarPx * 100) / bar.offsetWidth;
      let positionInBarByVolume = positionInBarPer100 / 100;
      this.volume = positionInBarByVolume * 100;

      this.player.setVolume(positionInBarByVolume);
    },
    async loadListScenesInfo() {
      if (!this.param?.apiInfoUrl) {
        return;
      }
      let res = await axios.get(`${this.param?.apiInfoUrl}scenes`);
      this.listScenesInfo = res.data;
    },
    getWidthSceneInBar(begin, end) {
      const widthInBar = ((end - begin) * 100) / this.totalDuration;
      return widthInBar + "%";
    },
    async gotoScene(timeCode) {
      setTimeout(this.player.seekTo(timeCode), 500);
    },

    formatTime(number) {
      let houre = 0;
      let min = 0;
      let second = 0;
      let rest = number;
      let result = "";
      // houre
      if (rest >= 3600) {
        houre = parseInt(rest / 3600);
        rest = rest % 3600;
      }
      // min
      if (rest >= 60) {
        min = parseInt(number / 60);
        rest = rest % 60;
      }
      // second
      second = parseInt(rest);

      result =
        (houre < 10 ? "0" + houre : houre) +
        ":" +
        (min < 10 ? "0" + min : min) +
        ":" +
        (second < 10 ? "0" + second : second);
      return result;
    },
    // give position ( top, left ) of element in windows
    getOffset(el) {
      var _x = 0;
      var _y = 0;
      while (el && !isNaN(el.offsetLeft) && !isNaN(el.offsetTop)) {
        _x += el.offsetLeft - el.scrollLeft;
        _y += el.offsetTop - el.scrollTop;
        el = el.offsetParent;
      }
      return { top: _y, left: _x };
    },
  },
};
</script>

<style lang="scss">
.rxPlayer {
  position: relative;

  video {
    //  width: 100%;
    cursor: pointer;
    margin-bottom: -6px;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 55px);
    background-color: rgba(black, 0.5);
    color: white;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    .spinner-border {
      width: 5rem;
      height: 5rem;
    }
  }

  // .sceneDetail
  .sceneDetail {
    position: absolute;
    left: 0;
    top: 0;
    padding: $gutter-half;
    width: 50%;
    height: calc(100% - 94px);
    background-color: rgba(black, 0.7);
    color: white;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    @media #{$bp-min-sm} {
      width: 33%;
    }
    &__castingList {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__castingItem {
      width: 100%;
      position: relative;
      margin-bottom: $gutter-half;
      box-shadow: -1px 2px 17px 1px rgba(255, 255, 255, 0.75);
      -webkit-box-shadow: -1px 2px 17px 1px rgba(255, 255, 255, 0.75);
      -moz-box-shadow: -1px 2px 17px 1px rgba(255, 255, 255, 0.75);
      @media #{$bp-min-md} {
        width: 48%;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      span {
        text-align: center;
        position: absolute;
        z-index: 100;
        left: 0;
        bottom: 0;
        background-color: rgba(black, 0.7);
        padding: 5px;
        width: 100%;
      }
    }
  }

  // scenesInfoBar
  .scenesInfoBar {
    display: flex;
    flex-wrap: nowrap;
    height: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 68px;
    &__detail {
      display: none;
      position: absolute;
      bottom: 26px;
      width: auto;
      color: white;
      padding: 5px;
      cursor: pointer;
      background-color: rgba(black, 0.7);
      span {
        display: block;
        font-size: 1.2rem;
      }
      &::before {
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 15px solid rgba(black, 0.7);
        border-right: 12px solid transparent;
        position: absolute;
        left: 10px;
        bottom: -15px;
      }
    }
    &__item {
      display: inline-block;
      background-color: rgb(225, 78, 255, 0.45);
      margin: 0 0.15rem;
      cursor: pointer;
      &:hover {
        .scenesInfoBar__detail {
          display: block;
        }
      }
    }
  }
  .progressBar {
    width: 100%;
    cursor: pointer;
    height: 15px;
    position: relative;
    background-color: black;
    border: 1px solid black;
    &__timePosition,
    &__timeloaded {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }
    &__timePosition {
      content: "";
      background-color: white;
      z-index: 10;
    }
    &__timeloaded {
      content: "";
      background-color: rgba(white, 0.4);
      z-index: 1;
      height: 100%;
      transition: width 1s ease;
    }
  }

  // controls
  .controls {
    background-color: #000;
    height: 50px;
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    a,
    span {
      height: 100%;
      display: inline-block;
    }
    &__left,
    &__right {
      display: flex;
      align-items: center;
      height: 100%;
    }
    &__right {
      width: 25%;

      a {
        margin-right: 15px;
      }
    }
    &__timeInfo {
      line-height: 2.5;
    }
  }

  // advance setting
  .advanceSetting {
    background-color: rgba(black, 0.75);
    color: white;
    position: absolute;
    z-index: 300;
    right: 0;
    bottom: 65px;
    width: 33%;
    height: 50%;

    &__header {
      display: flex;
      justify-content: flex-end;
      height: 35px;
      padding: $gutter-half / 3;
    }
    &__row {
      padding: 5px 10px;
      span {
        width: 50%;
        display: inline-block;
      }
      input[type="checkbox"] {
        left: 15px;
        position: relative;
      }

      left: 15px;
      position: relative;
    }
    select {
      appearance: none;
      background-color: black;
      color: white;
      padding: 2px 8px;
    }
  }

  // audio
  .audio {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    &__icon {
      flex: 0 20px auto;
      height: 100%;
    }

    &__bar {
      background-color: rgba(white, 0.25);
      height: 5px;
      width: 100%;
      cursor: pointer;
    }
    &__volume {
      height: 100%;
      background-color: #fff;
    }
  }
}
</style>
